*.py[cod]
*.sqlite3*
*.png
*.jpeg
*.jpg

**__pycache__
**migrations
!__init__.py

/static
/media
/templates
*.zip

BranchementPrive
Captage
Forage
Ibombo
Pompe
Puit
ReseauDAlimentation
Reservoir
SourceAmenagee
SourceNonAmenagee
VillageCollinaire
VillageModerne